#section-01{
.menu ul
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: min(20px, 5%);
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: 60px;
    margin-right: 60px;
    padding-inline-start: 0px;
}
.menu a
{
    text-decoration: none;
    color: red;
    font-weight: 500;
}

.menu li:first-of-type
{

    background-image: url(../assets_images/cercle.svg);
    background-size: 100% 100%; 
    width: 73px;
    height: 37px;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: min(100px, 10%); 
}




.menu li:nth-child(6) {
    margin-right: min(100px, 10%); 
}

.container {
    margin-top: 0;
    margin-bottom: 0;
}
}
