#section-02{
	


.section02{
	background-image: url("../assets_images/Header-1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	color: var(--main-color);
	text-transform: uppercase;
	border: 1px solid transparent;
margin: 0;
	padding: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section02 p {
	font-weight:600;
	font-size: var(--font-size-xl);
	width: 50%;
margin: 60px 0 0 68px ;
}
.buttons-collections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2em 8em 2em 8em;
  width: clamp(150px,60%,650px);
  backdrop-filter: var(--blur);
  border: var(--blur-border);
  border-radius: 100px;
  background: rgba(227, 227, 227, 0.2);
  color: var(--white-color);
  font-weight: 300;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 112px;
  margin-left: auto;
  margin-right: auto;
  
}
}