body { 
    color: var(--main-color)
}

h1 { 
    font-size: var(--font-size-xxxxxl);
}

h2 { 
    font-size: var(--font-size-m);
}

h3 { 
    font-size: var(--font-size-s);
}

<<<<<<< Updated upstream
=======
.second-text {  
    font-size: 12px;
    font-weight: 500;
    max-width: 100px;
    margin: -150px 0px 0px 0px;
    text-transform: lowercase;
}

/* 
header { 
    width: 100%;
}
*/



>>>>>>> Stashed changes
img { 
    max-width: 100% ;
}

section { 
    display: flex;
    flex-direction: column;         
    justify-content: center;        
    align-items: center;  

}


