body { 
    color: var(--main-color)
}

h1 { 
    font-size: var(--font-size-xxxxxl);
}

h2 { 
    font-size: var(--font-size-m);
}

h3 { 
    font-size: var(--font-size-s);
}

img { 
    max-width: 100% ;
}

section { 
    display: flex;
    flex-direction: column;         
    justify-content: center;        
    align-items: center;  

}


