#section-05{
	align-self: center;
	color: var(--main-color);
	margin-bottom: 260px;





.images{
	padding: 198px 10%;
}

section.images{
	background-color: var(--main-color);
}

.rectangle{
background-color: var(--white-color);

display: flex;

width: 100%;
height: fit-content;

justify-content: center;
justify-self: center;

}

.rectangle article{
position: relative;

	margin-top: 20px;
	margin-bottom: 20px;

	min-height: 105vh;

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 50%;
}

.miranda{
	margin-left: 20px;
	margin-right: 10px;
background-image: url(/assets_images/About-us-2.png);

}

.landber{
	margin-right: 20px;
	margin-left: 10px;
background-image: url(/assets_images/About-us-3.png);
/*transform: scaleX(-1);*/
}


article.titres{
	margin: 60px;
	
	display: flex;
	flex-direction: column;
	gap: 80px;
}

h1.liste {
	text-indent: 450px;
	font-size: var(--font-size-xxxxxl);
}

span{
	left: -400px;
	position: absolute;
	font-style: italic;
	font-weight: 200;
}





p{
	font-size: var(--font-size-s);
	text-transform: uppercase;
	margin-left: 25px;
}

.logo {
  display: inline-block;
  padding: 6px 21px;

  border: 1px solid var(--main-color);
  border-radius: 50%;
}



  
}