#section-05{


section.images{
	background-color: var(--main-color);
}

.rectangle{
background-color: var(--white-color);

display: flex;

width: max-content;
height: fit-content;

justify-content: center;
justify-self: center;

}

article{
	margin-top: 20px;
	margin-bottom: 20px;


	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: fit-content;
}

.miranda{
	margin-left: 40px;
	margin-right: 10px;
background-image: url(/assets_images/About-us-2.png);

}

.landber{
	margin-right: 20px;
	margin-left: 10px;
background-image: url(/assets_images/About-us-3.png);
/*transform: scaleX(-1);*/
}




article.titres{
	margin: 60px;
	
	display: flex;
	flex-direction: column;
	gap: 80px;
}

h1{
	font-size: var(--font-size-xxxxxl);
}

span{
	/*min-width: 200px;*/
	font-style: italic;
	font-weight: 200;
	margin-right: 120px;
}





p{
	font-size: var(--font-size-s);
	text-transform: uppercase;
	margin-left: 25px;
}

.logo {
  display: inline-block;
  padding: 6px 21px;

  border: 1px solid var(--main-color);
  border-radius: 50%;
}



/*
img{
 -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
  */	

  }