.contenu{
	margin-top: var(--spacing-l);
}

.step{
	display: flex;
	justify-content: space-between;
	margin: 44px 75px 66px 63px;
}


h3{
	color: var(--main-color);
	font-size: var(--font-size-m);
	font-weight: 100;
	width: 10em;
	margin-top: 0;
	margin-left: 5px;
	margin-right: 5px;
}

.day {
	width: 8em;
}

p{
	color: var(--main-color);
	font-size: var(--font-size-s);
	margin: 0;
	width: 790px;
	margin-right: 5px;
	letter-spacing: -5,5%;
}

.capitales {
	text-transform: uppercase;
}

h1{
	color: var(--main-color);
	font-size: var(--font-size-xxxxxl);
	text-align: center;
	letter-spacing: -6%;
	margin-top: var(--spacing-l);
}

@media (prefers-color-scheme: dark) {
  body{
    background: var(--main-color);
  }

  h1,h3,p{
	color: #F9F9F9;
  }

  .ligne{
	background-color: #F9F9F9;
  }
}