.step{
	display: flex;
	flex-direction: row;
}


h3{
	color: var(--main-color);
	font-size: var(--font-size-m);
	font-weight: 100;
	flex: 1;
	margin: 0;
}

p{
	color: var(--main-color);
	font-size: var(--font-size-m);
	margin: 0;
	flex: 1;
}

.capitales {
	text-transform: uppercase;
}

h1{
	color: var(--main-color);
	font-size: var(--font-size-xxxxxl);
	text-align: center;
}
