#collections{

  margin: 5em 5em 10em 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;


h1 {
  font-size: var(--font-size-xxxxxl);
  color: var(--main-color);
  letter-spacing: -5.5%;
}

#collections-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 21px;
  grid-row-gap: 21px;
}

.collections-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: bottom;
  color: var(--main-color);
}

.collections-card h2 {
  font-size: var(--font-size-xxxl);
  letter-spacing: -5.5%;
}

#spring {
  background-image: url(./assets_images/Collections-1.png);
}
#wedding {
  background-image: url(./assets_images/Collections-2.png);
  background-position: bottom -40px center !important;
}

#casual {
  background-image: url(./assets_images/Collections-3.png);
  background-position: center !important;
  background-size: fit-content !important;
}

#safari {
  background-image: url(./assets_images/Collections-4.png);
  background-position: top !important;
}

.buttons-collections {
  display: flex;
  flex-direction: row;
  justify-content: center;
  backdrop-filter: var(--blur);
  border: var(--blur-border);
  border-radius: 100px;
  background: rgba(227, 227, 227, 0.2);
  color: var(--white-color);
  transition: background-color 0.3s ease-in-out;
}
.buttons-collections h3{
  font-size: var(--font-size-m);
  margin: 1.4em 3em 1.4em 3em;
}
 
.buttons-collections:hover {
  background: var(--main-color);
  border-color: var(--white-color);
  color: var(--white-color);
}

@media (max-width: 768px) {
  #collections h1{
    font-size: var(--font-size-xxl) !important;
  }

#collections-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 21px;
  grid-row-gap: 21px;
}

.buttons-collections{
  width: auto;
  
}

.collections-card h2 {
  font-size: var(--font-size-xxl);
  letter-spacing: -5.5%;
}

.collections-card h3{
  font-size: var(--font-size-s);
  margin: 1em 2em 1em 2em;
  width: 100%;
}

.collections-card {
  width: auto;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: 0;
}

}

}