body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

h1{
    font-size: var(--font-size-xxxl);
    color: var(--main-color);
}

#collections-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 21px;
  grid-row-gap: 21px;
}

.collections-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 42em;
  height: auto;
  aspect-ratio: 1 / 1;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: bottom;
  color: var(--main-color);
  
}

.collections-card h2{
    font-size: var(--font-size-xxxl); 
}

#spring {
  background-image: url(/assets_images/Collections-1.png);

}
#wedding{
    background-image: url(/assets_images/Collections-2.png);
    background-position: bottom -40px center !important;
}

#casual{
    background-image: url(/assets_images/Collections-3.png);
    background-position: center !important;
    background-size: fit-content !important;
}

#safari{
    background-image: url(/assets_images/Collections-4.png);
    background-position: top !important;
}


.buttons-collections{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2em 8em 2em 8em;
    width: 60%; 
    backdrop-filter: var(--blur);
    border: var(--blur-border);
    border-radius: 100px;
    background: rgba(227, 227, 227, 0.20);
    color: var(--white-color);
    font-weight: 300;
}


